/*Estilos Generales*/
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/*navBar styles*/
nav {
  background-color: rgb(255, 60, 0);
  padding: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}
/*Botón*/
.boton {
  color: white;
  background-color: rgb(21, 199, 36);
  height: 40px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  /*margin-top: 50px;
  margin-bottom: ; 
  margin-left: ;
  margin-right: ;*/
}

/*Header container styles*/
.header-container {
  display: flex;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  color: white;
}

.bg-header {
  background-image: url("../img/paisaje.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  opacity: 0.4;
}

.overlay-div {
  background-color: black;
}
